<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-sm-9 customerform p-4">
      <h4 class="mt-2 mb-2">Select Hardware</h4>
      <h5>Hardware Fulfillment Method</h5>
      <div class="form-check form-check-inline m-2">
        <input
          class="form-check-input"
          type="radio"
          name="instore"
          id="instore"
          value="instore"
          [(ngModel)]="hardwareFullfillment"
        />
        <label class="form-check-label" for="instore">In-Store Purchase</label>
      </div>
      <div class="form-check form-check-inline m-2">
        <input
          class="form-check-input"
          type="radio"
          name="hardwareFullfillment"
          id="directship"
          value="directship"
          [(ngModel)]="hardwareFullfillment"
        />
        <label class="form-check-label" for="directship">Direct Shipment</label>
      </div>

      <div class="instorePurchase" *ngIf="hardwareFullfillment=='instore'">
        <app-inStorePurchase></app-inStorePurchase>
      </div>

      <div class="instorePurchase" *ngIf="hardwareFullfillment=='directship'">
        <app-directShipment></app-directShipment>
      </div>

      <div class="row mt-5">
        <div class="col-sm-12">
          <button
            type="button"
            class="btn btn-outline-primary btn-sm float-left"
            routerLink="/PhoneNumberSelection"
          >
            Back to Phone Number
          </button>

          <button
            type="button"
            class="btn btn-primary btn-sm float-right"
            routerLink="/RatePlansNew"
          >
            Save and continue to Rateplans
          </button>

          <button
            type="button"
            class="btn btn-primary btn-sm float-right mr-4"
          >
            Add TradeIn
          </button>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <app-sideCartPanel></app-sideCartPanel>
    </div>
  </div>
</div>
