<div class="mt-3">
  <h5>Service Overview</h5>

  <div class="row">
    <div class="col-sm-12">
      <label for="">Line Type: Postpaid</label>
    </div>
    <div class="col-sm-12">
      <label for="">Phone Number Selected: (666) 886-2417</label>
    </div>
    <div class="col-sm-12">
      <label for="">Hardware</label>
      <p><b>NA</b></p>
    </div>
    <div class="col-sm-12">
      <label for="">Hardware</label>
      <p><b>NA</b></p>
    </div>

    <div class="col-sm-12">
      <label for="">Rate Plan & Add-Ons</label>
      <label>
        Plan:<b> Big Gig Unlimited + Talk 30GB + 5GB Canada-U.S$ 120.00 /mo </b>
        <a href=""> Change </a>
      </label>
    </div>

    <div class="col-sm-12">
      <label for="">OneTime Charges</label>
      <label> Connection Fee - Activation:<b>$ 45.00 *</b> </label>
     <p> <a href="">Enter a connection fee promo code here</a></p>
    </div>

    <div class="col-sm-12">
      <label for="">Estimated Monthly Total: <b> $ 120.00 *</b></label>
    </div>
  </div>
  <div class="card bg-light mb-3">
    <div class="card-body">
      <h5 class="card-title">Add Promotion Code:</h5>
      <div class="form-group ">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control form-control-sm" id="exampleFormControlSelect1">
          <option>Select Promotions</option>
        </select>
      </div>
      <div class="form-row">
        <div class="form-group col-md-10">
          <input
            type="text"
            class="form-control form-control-sm"
            id="inputEmail4"
            placeholder="Enter your Promocode here"
          />
        </div>
        <div class="form-group col-md-2">
          <button type="button" class="btn btn-primary">Apply</button>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" />
            <label class="form-check-label" for="gridCheck">
              no promo selected
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>
    *Reflects promotions pricing, actual monthly total will change when the
    promotion(s) has ended.
  </p>
</div>
