<div class="card mt-3">
  <div class="card-header">
    Account Level Promotion
  </div>
  <div class="card-body">
   
  </div>
</div>


<div class="card mt-3">
  <div class="card-header">
    Service Level Promotion
  </div>
  <div class="card-body">
    
    <div class="card">
      <div class="card-header">
        (666) 885-3959
      </div>
      <div class="card-body">
        
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Promo</th>
              <th scope="col">Promo Status</th>
              <th scope="col">Expiry Date</th>
              <th scope="col">Applied Date</th>
              <th scope="col">Benefit Start Date</th>
              <th scope="col">Benefit End Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Apr19 ACT 5Pctx12 MyTabChg (Tab activation $60+ gets 5% off monthly tab)</th>
              <td>Active</td>
              <td>-</td>
              <td>01-NOV-2022</td>
              <td>01-NOV-2022</td>
              <td>01-NOV-2022</td>
            </tr>
           
          </tbody>
        </table>
        
        
      </div>
    </div>
    
  </div>
</div>