<div class="container-fluid">
  <form>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
            <app-businessDetails></app-businessDetails>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
            <app-contactInformation></app-contactInformation>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
            <app-customerInformation></app-customerInformation>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="row">
          <div class="col-sm-12 mt-3">
            <app-customerIdVerification></app-customerIdVerification>
          </div>
        </div>
        <button type="button" class="btn btn-sm btn-primary float-right m-2">Proceed to
          Credit Check</button>
      </div>
    </div>
  </form>
</div>