<div class="row h-100">
  <div class="col-sm-4 customerform p-4">
    <h5 class="mt-2 mb-2">Contact Information</h5>
    <div class="row">
      <div class="col-sm-6  ">
        <label for="">Account</label>
      </div>
      <div class="col-sm-6  ">
        <p>DBC2233132321321</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6  ">
        <label>Customer Name:</label>
      </div>
      <div class="col-sm-6  ">
        <p>JSSSKmSu DOLUTgRk</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6  ">
        <label>Address:</label>
      </div>
      <div class="col-sm-6  ">
        <p>73 Eastview Gate, Brampton, ON L6P 1N5</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6  ">
        <label>Primary Phone Number:</label>
      </div>
      <div class="col-sm-6  ">
        <p>(987) 654-3210</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6  ">
        <label>Email:</label>
      </div>
      <div class="col-sm-6  ">
        <p>cz_kganesan@freedommobile.ca</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 customerform p-4">
    <h5 class="mt-2 mb-2">Credit Information</h5>
    <div class="row">
      <div class="col-sm-6  ">
        <label for="">Max Prepaid Lines:</label>
      </div>
      <div class="col-sm-6  ">
        <p>Unlimited</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6  ">
        <label for="">Max Postpaid Lines:</label>
      </div>
      <div class="col-sm-6  ">
        <p>4</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6  ">
        <label for="">Lines Pending Fulfillment:</label>
      </div>
      <div class="col-sm-6  ">
        <p>0</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6  ">
        <label for="">Remaining Postpaid Lines:</label>
      </div>
      <div class="col-sm-6  ">
        <p>3</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6  ">
        <label for="">MyTab Limit :</label>
      </div>
      <div class="col-sm-6  ">
        <p>$4,000.00</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6  ">
        <label for="">Current MyTab Balance :</label>
      </div>
      <div class="col-sm-6  ">
        <p>$154.88</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6  ">
        <label for="">Current Total TradeUp Return Value:</label>
      </div>
      <div class="col-sm-6  ">
        <p>$0.00</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6  ">
        <label for="">Available MyTab:</label>
      </div>
      <div class="col-sm-6  ">
        <p>$$3,845.12</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 customerform p-4">
    <h5 class="mt-2 mb-2">Account Actions</h5>
    <button type="button" class="btn btn-primary btn-sm  m-2">Add New Prepaid Line</button>
    <button type="button" class="btn btn-primary btn-sm  m-2">Add New Poostpaid Line</button>
    <button type="button" class="btn btn-primary btn-sm  m-2">Freedom Home Internet</button>
  </div>
</div>