<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-sm-9 customerform p-4">
      <div class="row">
        <div class="col-sm-12">
          <h4>Summary</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 rightBorder">
          <app-customerDetails></app-customerDetails>
        </div>
        <div class="col-sm-3 rightBorder">
          <app-accountDetails></app-accountDetails>
        </div>

        <div class="col-sm-5">
        <app-serviceOverview></app-serviceOverview>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-sm-6">
          <button
            type="button"
            class="btn btn-outline-primary btn float-left"
            routerLink="/DeviceSelection"
          >
            Back to Add-ons and Options
          </button>
        </div>
        <div class="col-sm-6">
          <button
            type="button"
            class="btn btn-primary btn float-right"
            routerLink="/CustomerDetailsAndLines"
          >
            Review & Submit
          </button>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <app-sideCartPanel></app-sideCartPanel>
    </div>
  </div>
</div>
