<div class="mt-3">
    <div class="accordion" id="accordionExample" >
        <div class="card" *ngFor="let service of Services;let i = index">
            <div class="card-header {{ i==0 ? '' : 'collapsed' }} " data-toggle="collapse" [attr.data-target]="'#collapse' + i">
                <span class="title">{{service.serviceType}} {{service.msisdn}}/ {{service.planName}}</span>
                <span class="float-right">{{service.serviceStatus}}</span>
                <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i> </span>
            </div>
            <div [attr.id]="'collapse' + i" class="collapse" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active btn-sm" id="pills-home-tab" data-toggle="pill"
                                data-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                aria-selected="true">Phone</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link btn-sm " id="pills-profile-tab" data-toggle="pill"
                                data-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                                aria-selected="false">Wearable</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                            aria-labelledby="pills-home-tab">
                            <app-phone [service]="service"></app-phone>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                            aria-labelledby="pills-profile-tab">
                            <app-wearable></app-wearable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>