<div class="row">
  <div class="col-sm-4">
    <div class="form-group">
      <label for="exampleFormControlSelect1" class="col-form-label col-form-label-sm">Select Pool</label>
      <select class="form-control form-control-sm" id="exampleFormControlSelect1">
        <option>Toronto</option>
        <option>Vancouver</option>
        <option>Edmonton</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1" class="col-form-label col-form-label-sm">Select Number</label>
      <input
        type="text"
        class="form-control form-control-sm"
        id="exampleInputEmail1"
        aria-describedby="Number"
        placeholder="Search number"
      />
    </div>

    <button type="button" class="btn btn-primary btn-sm float-right">
      Search
    </button>
  </div>
  <div class="col-sm-8">
    <h5>Available Numbers:</h5>
    <div class="numbers m-3">
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optradio" />
          132423234234234
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optradio" />
          23423424234232
        </label>
      </div>
      <div class="form-check-inline disabled">
        <label class="form-check-label">
          <input
            type="radio"
            class="form-check-input"
            name="optradio"
          />
          323423423423432
        </label>
      </div>
    </div>
  </div>
</div>
