<div class="mt-3">
  <h5>Account Detail</h5>
  <div class="row">
    <div class="col-sm-12">
      <label for="">Account Number</label>
      <p><b>DBC10000361237</b></p>
    </div>
    <div class="col-sm-12">
      <label for="">MyTab Limit:</label>
      <p><b>$4,000.00</b></p>
    </div>
    <div class="col-sm-12">
      <label for="">Current MyTab</label>
      <p><b>$704.92</b></p>
    </div>
    <div class="col-sm-12">
      <label for="">Available MyTab:</label>
      <p><b>$3,040.08</b></p>
    </div>
    <div class="col-sm-12">
      <label for="">Eligible Postpaid Lines</label>
      <p><b>4</b></p>
    </div>
    <div class="col-sm-12">
      <label for="">Remaining Postpaid Lines</label>
      <p><b>3</b></p>
    </div>
    <div class="col-sm-12">
      <label for="">Eligible Prepaid Lines</label>
      <p><b>Unlimited</b></p>
    </div>
  </div>
</div>
