<div class="row phone">
  <div class="col-sm-6">
    <h4>Wearable Service Information</h4>

    <div class="row">
      <div class="col-sm-6  ">
        <label>Service Type:</label>
      </div>
      <div class="col-sm-6  ">
        <p>Postpaid</p>
      </div>

      <div class="col-sm-6  ">
        <label>Rate Plan:</label>
      </div>
      <div class="col-sm-6  ">
        <p>Big Gig Unlimited + Talk 25GB</p>
      </div>


      <div class="col-sm-6  ">
        <label>Rate Plan:</label>
      </div>
      <div class="col-sm-6  ">
        <p>Big Gig Unlimited + Talk 25GB</p>
      </div>

      <div class="col-sm-6  ">
        <label>Add-Ons:</label>
      </div>
      <div class="col-sm-6  ">
        <p>None Selected</p>
      </div>

      <div class="col-sm-6  ">
        <label>Phone Protection Plan:</label>
      </div>
      <div class="col-sm-6  ">
        <p>$9.00</p>
      </div>

      <div class="col-sm-6  ">
        <label>Monthly MyTab Charge:</label>
      </div>
      <div class="col-sm-6  ">
        <p>$ 55.00</p>
      </div>

      <div class="col-sm-6  ">
        <label>Monthly Service Fee:</label>
      </div>
      <div class="col-sm-6  ">
        <p>$ 159.00</p>
      </div>

      <div class="col-sm-6  ">
        <label>Activation Date:</label>
      </div>
      <div class="col-sm-6  ">
        <p>2022-05-01</p>
      </div>

      <div class="col-sm-6  ">
        <div class="dropdown">
          <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
            Manage
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Change Rateplans</a>
            <a class="dropdown-item" href="#">Manage Addons</a>
            <a class="dropdown-item" href="#">Redeem Promo Code</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6  ">
        <button type="button" class="btn btn-outline-primary btn-sm">Cancel Service</button>
      </div>


    </div>
  </div>
  <div class="col-sm-6">
    <h4>Wearable Device Information</h4>

    <div class="row">
      <div class="col-sm-6  ">
        <label>Device:</label>
      </div>
      <div class="col-sm-6  ">
        <p>iPhone 11 Pro 512GB Space Grey</p>
      </div>

      <div class="col-sm-6  ">
        <label>MyTab Balance Owing:</label>
      </div>
      <div class="col-sm-6  ">
        <p>$ 154.88</p>
      </div>

      <div class="col-sm-6  ">
        <label>Last MyTab Update:</label>
      </div>
      <div class="col-sm-6  ">
        <p>22 Months</p>
      </div>

      <div class="col-sm-6  ">
        <label>MyTab Start Date:</label>
      </div>
      <div class="col-sm-6  ">
        <p>2022-05-01</p>
      </div>

      <div class="col-sm-6  ">
        <label>Remorse Date:</label>
      </div>
      <div class="col-sm-6  ">
        <p>2022-05-01</p>
      </div>

      <div class="col-sm-6  ">
        <label>IMEI:</label>
      </div>
      <div class="col-sm-6  ">
        <p>353248106980822</p>
      </div>

      <div class="col-sm-6  ">
        <label>Tab Status:</label>
      </div>
      <div class="col-sm-6  ">
        <p>Active</p>
      </div>

      <div class="col-sm-6  ">
        <label>TradeUp Return Value:</label>
      </div>
      <div class="col-sm-6  ">
        <p>N/A</p>
      </div>

      <div class="col-sm-6  ">
        <label>TradeUp Return Date:</label>
      </div>
      <div class="col-sm-6  ">
        <p>N/A</p>
      </div>

      <div class="col-sm-6  ">
        <button type="button" class="btn btn-primary btn-sm">Hardware upgrade</button>
      </div>
      <div class="col-sm-6  ">
        <button type="button" class="btn btn-primary btn-sm">Swap Simcard</button>
      </div>



    </div>
  </div>
</div>