<p>Account Balance : $0</p>
<p>Bill Cycle Day (Applicable for postpaid accounts only) : 10 th</p>

<div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
        aria-selected="true">Bill PAyments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
        aria-selected="false">Autopay</a>
    </li>

  </ul>
  <div class="tab-content mt-3" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              <p>Outstanding Balance</p>
            </div>
            <div class="col-sm-4">
              <p>$ 0</p>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-primary float-right">pay</button>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    </div>
  </div>