<div class="row">
  <div class="col-sm-4">
    <div class="form-group">
      <label for="FormControlSelectCity" class="col-form-label col-form-label-sm">City</label>
      <select class="form-control form-control-sm" id="FormControlSelectCity">
        <option>Toronto</option>
        <option>Vancouver</option>
        <option>Edmonton</option>
      </select>
    </div>

    <div class="form-group">
      <input
        type="text"
        class="form-control form-control-sm"
        id="exampleInputEmail1"
        aria-describedby="Number"
        placeholder="Enter number to port"
      />
    </div>

    <button type="button" class="btn btn-primary btn-sm float-right">
      Check port eligibility
    </button>
  </div>

  <div class="col-sm-8">
    <h5>Personal Information:</h5>
    <div class="Portin m-3">
      <form>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" />
            <label class="form-check-label" for="gridCheck">
              Use address on account
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-2">
            <select id="inputState" class="form-control form-control-sm">
              <option selected>Select</option>
              <option>Mr</option>
              <option>Mrs</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <input
              type="text"
              class="form-control form-control-sm"
              id="firstname"
              placeholder="First Name"
            />
          </div>
          <div class="form-group col-md-2">
            <input
              type="text"
              class="form-control form-control-sm"
              id="street"
              placeholder="Street"
            />
          </div>
          <div class="form-group col-md-4">
            <input
              type="text"
              class="form-control form-control-sm"
              id="streetName"
              placeholder="Street Name"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <input
              type="text"
              class="form-control form-control-sm"
              id="middleName"
              placeholder="Middle Name"
            />
          </div>
          <div class="form-group col-md-2">
            <input
              type="text"
              class="form-control form-control-sm"
              id="unit"
              placeholder="Unit"
            />
          </div>
          <div class="form-group col-md-4">
            <input
              type="text"
              class="form-control form-control-sm"
              id="city"
              placeholder="City"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <input
              type="text"
              class="form-control form-control-sm"
              id="lastName"
              placeholder="Last Name"
            />
          </div>
          <div class="form-group col-md-3">
            <select id="inputState" class="form-control form-control-sm">
              <option selected>Province</option>
              <option>ON</option>
              <option>AB</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <input
              type="text"
              class="form-control form-control-sm"
              id="postalCode"
              placeholder="Postal Code"
            />
          </div>
        </div>

        <h5>Ex Service Provider Information:</h5>

        <div class="form-row">
          <div class="form-group col-md-6">
            <input
              type="text"
              class="form-control form-control-sm"
              id="exServiceAccount"
              placeholder="Ex Service Account Number"
            />
          </div>
          <div class="form-group col-md-6">
            <select id="inputState" class="form-control form-control-sm">
              <option selected>Select Current Service Type</option>
              <option>..</option>
              <option>..</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <input
              type="text"
              class="form-control form-control-sm"
              id="exServiceAccount"
              placeholder="Ex Service Account Number"
            />
          </div>
          <div class="form-group col-md-6">
            <select id="inputState" class="form-control form-control-sm">
              <option selected>Select Current Service Type</option>
              <option>..</option>
              <option>..</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <input
              type="text"
              class="form-control form-control-sm"
              id="exServiceAccount"
              placeholder="Ex Service Account Number"
            />
          </div>
          <div class="form-group col-md-6">
            <select id="inputState" class="form-control form-control-sm">
              <option selected>Select Current Service Type</option>
              <option>..</option>
              <option>..</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6"></div>
          <div class="form-group col-md-6">
            <select id="inputState" class="form-control form-control-sm">
              <option selected>Select Current Service Type</option>
              <option>..</option>
              <option>..</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" />
            <label class="form-check-label" for="gridCheck">
              Authorize to port telephone number from another carrier
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
