<div class="mt-1">
  <div class="row">
    <div class="col-sm-12">
      <label class="label">Customer Information</label>
      <p>In Progress</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <label class="label">Line Type</label>
      <p>Postpaid</p>
    </div>
  </div>
  <h5>Hardware</h5>
  <div class="row">
    <div class="col-sm-12">
      <label class="sublabel">Device</label>
      <p>None Selected</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <label class="sublabel">Sim</label>
      <p>None Selected</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <label class="label">Rate Plan & Add-Ons</label>
      <p>None Selected</p>
    </div>
  </div>
</div>