<div class="card">
  <div class="card-body">
    <h6 class="card-title"><img src="../../../assets/img/orange_wings.png" class="mr-1">Business Details</h6>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Business Name</label>
        <input type="text" class="form-control form-control-sm" placeholder="Name">
      </div>
      <div class="form-group col-md-6">
        <label for="inputState">Business Number</label>
        <input type="text" class="form-control form-control-sm" placeholder="Number">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputZip">Email</label>
        <input type="text" class="form-control form-control-sm" placeholder="Email">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">Primary Phone Number</label>
        <input type="text" class="form-control form-control-sm" placeholder="Primary Phone">
      </div>
      <div class="form-group col-md-6">
        <label for="inputState">Type</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>Mobile</option>
        </select>
      </div>
    </div>
  </div>
</div>